{% extends "base.html" %} {% block content %}
<div class="jumbotron">
  <div class="container">
    <h1>Want to play Text Roulette?</h1>
  </div>
</div>
<div class="instructions">
  <div class="container">
    <p>Enter your message:</p>
    <form action="" method="post" name="login">
      {{form.hidden_tag()}}
      <p> {{form.text(size = 80)}} </p>
      {% for error in form.text.errors %}
      <span style="color: red;">[{{ error }}]</span> {% endfor %}
      <p>
        <input type="submit" value="Enter Message">
      </p>
      <hr> {% with messages = get_flashed_messages() %} {% if messages %}
      <ul>
        {% for message in messages %}
        <li>{{ message }}
        </li>
        <br> {% endfor %}
      </ul>
      {% endif %} {% endwith %}
  </div>
</div>
{% endblock %}
